{% extends 'base.html.twig' %}

{% block body %}

	<section class="container" xmlns:text-align="http://www.w3.org/1999/xhtml"
			 xmlns:width="http://www.w3.org/1999/xhtml">


		<div class="panel panel-default"align="center">
			<div class="panel-heading" >
				40o CONGRESSO DA SOCIEDADE DE ZOOLÓGICOS E AQUÁRIOS DO BRASIL <br>
				JOÃO PESSOA – PB <br>
				PROGRAMAÇÃO GERAL<br>
			</div>
			<div class="panel-heading" >14/03/2016 - Segunda-Feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>Local&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th style="width:706px;">Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>14:00  – 20:00</th>
					<th>Bica</th>
					<th>Pré-congresso: Reunião do Grupo de Trabalho em Nutrição de Animais Silvestres</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default"align="center">
			<div class="panel-heading" >15/03/2016 - Terça-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>Local&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>08  – 18</th>
					<th>Espaço Cultural José Lins do Rego</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08:30 – 11:30 </th>
					<th>Espaço Cultural José Lins do Rego</th>
					<th>Reunião de Planejamento Estratégico - SZB</th>
				</tr>
				<tr>
					<th>08:30 – 12:00 </th>
					<th>Bica</th>
					<th>Visita ao Parque Zoobotânico Arruda Câmara - BICA</th>
				</tr>
				<tr>
					<th>12:00 – 13:30 </th>
					<th>A Definir</th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>13:30 – 14:00 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Apresentação do CERAS - Centro de Reabilitação de Animais Silvestres - Roberto Citelli
						(Médico Veterinário do Parque Zoobotânico Arruda Câmara) e Glenison Dias (Médico Veterinário do Parque Zoobotânico Arruda Câmara)</th>
				</tr>
				<tr>
					<th>14:00 – 14:30 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Apresentação do projeto de revitalização do Parque Zoobotânico Arruda Câmara – Dr.
						Marcos Santana (Professor noCurso de Arquitetura na Universidade Federal da Paraíba)</th>
				</tr>
				<tr>
					<th>14:30 - 15:15 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Palestra: Noções de eletrocardiograma em animais silvestres – Dr. Almir Pereira de Souza
						(Professor Efetivo da Universidade Federal de Campina Grande - UFCG)

					</th>
				</tr>
				<tr>
					<th>15:15 - 15:30 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Apresentação oral  selecionada</th>
				</tr>
				<tr>
					<th>15:30 - 15:45 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Apresentação oral  selecionada</th>
				</tr>
				<tr>
					<th>15:45 – 16:00 </th>
					<th></th>
					<th>coffee break</th>
				</tr>
				<tr>
					<th>16:00 – 16:50 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Palestra:  Conservação e manejo da herpetofauna no nordeste - Dr. Marco Antonio de Freitas (Analista Ambiental do ICMBIO-PE)
                    </th>
				</tr>
				<tr>
					<th>16:00 –16:50 </th>
					<th>Sala Carcará </th>
					<th>Teórica do Mini-Curso de Taxidermia - Joao Galdino (Taxidermista e Diretor do Instituto Harpia de História Natural, localizado em Cornélio Procópio -PR)
					</th>
				</tr>
				<tr>
					<th>16:50  – 17:40 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Palestra: Levando a Rotina dos Zoos para Dentro da sua Casa - Dr. Rodrigo Teixeira
						(Médico Veterinário do Zoológico de Sorocaba-SP e protagonista principal do programa Dr. Selvagem do Animal Planet)</th>
				</tr>
				<tr>
					<th>19:00 – 19:30  </th>
					<th></th>
					<th>Abertura do Congresso</th>
				</tr>
				<tr>
					<th>19:30 – 20:30 </th>
					<th>Sala Elefante/FUNESC</th>
					<th>Palestra de Abertura: Animais sob cuidados humanos em zoos e aquários: Desafios e oportunidades - Yara Barros (Bióloga do Parque das Aves em Foz do Iguaçu-PR)
					</th>
				</tr>
                <tr>
					<th>20:30 </th>
					<th>Espaço Cultural</th>
					<th>Coquetel de Abertura e aprese</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default" align="center">
			<div class="panel-heading">16/03/2016 - Quarta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Local</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>09:00 – 12 :00 </th>
					<th></th>
					<th>Mini-Cursos*</th>
				</tr>
				<tr>
					<th>07:30  – 13:30 </th>
					<th>Sala Jequitibá - Zoo</th>
					<th>Mini-Curso de Taxidermia (prática)**</th>
				</tr>
				<tr>
					<th>12:30 – 14:00 </th>
					<th></th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>14:00 - 15:00</th>
					<th>Sala Elefante</th>
					<th>Palestra Magistral: Modificação de técnicas tradicionais de manejo de elefantes no Sudeste Asiático
						Palestrante de Honra: Gerardo Martinez (Médico Veterinário)
					</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Elefante</th>
					<th>Palestra : Contenção química e anestesia de animais silvestres – MSc. Gianmarco Rojas
                        (Professor efetivo do Curso de Manejo e Medicina de Fauna Silvestre da Universidad Científica
                        del Sur em Lima-PERU e Membro do Crocodile Specialist Group-IUCN)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Jacaré</th>
					<th>Palestra: Enriquecimento ambiental em recintos de zoológicos - Esp. Paloma Bosso
                        (Diretora executiva da SZB)
					</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Lontra Albina</th>
					<th>Palestra : A falcoaria como equipamento de reabilitação para aves de zoológico - Gustavo Trainini
                        (Ecólogo Proprietário da empresa HAYABUSA - Falcoaria e Consultoria Ambiental, em Porto Alegre-RS)
                    </th>
				</tr>
				<tr>
					<th>15:45 - 16:00</th>
					<th></th>
					<th>coffee break</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 16:45 </th>
					<th>Sala Elefante</th>
					<th>Palestra : Técnicas de fotografia para animais silvestres - Haroldo Palo (Fotógrafo profissional
                        e Diretor de Arte da Editora Vento Verde, em São Paulo-SP)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 16:45 </th>
					<th>Sala Jacaré</th>
					<th>Palestra: Manutenção de serpentes em cativeiro - Breno Almeida (Biólogo proprietário do
                        Criadouro Científico Centro Amazônico de Herpetologia, em Belém-PA)
					</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 16:45 </th>
					<th>Sala Lontra Albina</th>
					<th>Palestra : Cenografia para Aquários – Esp. Lee Oliveira  (Artista plástico, proprietário da empresa Arquitetura Animal
                        - Cenografia e Ambientação para Animais)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultâneas
						16:45 – 17:30 </th>
					<th>Sala Jacaré</th>
					<th>Palestra:  Nutrição Animal - Dr. Henrique Luiz Tavares (Zootecnista da  Fundação Parque Zoológico de São Paulo-SP)</th>
				</tr>
				<tr>
					<th>Palestras Simultâneas
						16:45 – 17:30 </th>
					<th>Sala Elefante</th>
					<th>Palestra: Clínica de Répteis – Daniel Fedullo (Médico Veterinário do Beto Carrero World)</th>
				</tr>
				<tr>
					<th>Palestras Simultâneas
						16:45 – 17:30 </th>
					<th>Sala Lontra Albina</th>
					<th>Palestra : Cetáceos e Quelônios Marinhos – Dr. Fábio Lima (Professor Efetivo da Universidade do Estado do Rio Grande do Norte - UERN)</th>
				</tr>

				<tr>
					<th>
						17:30 - 17:45
					</th>
					<th>Sala Elefante</th>
					<th>Apresentação da Bolsa Devra Kleiman 2017 (Dan Hilliard e Yara Barros - Diretora de Comunicação da SZB)</th>
				</tr>

				<tr>
					<th>17:45 - 18:00</th>
					<th>Sala Elefante</th>
					<th>Entrega do prêmio “Eu faço meu zôo melhor” -
						Diretoria da SZB</th>
				</tr>
				<tr>
					<th>20:00 </th>
					<th>A Confirmar</th>
					<th>Noite de autógrafos e Programação Socio-Cultural : Forró-pé-de-serra</th>
				</tr>
			</table>
            <table><thead>
                <tr bgcolor="#f0ffff"><th>* Verificar detalhamento em mini-cursos  ** incluindo o almoço das  11:00 – 11:30 </th></tr>
                </thead>
            </table>

		</div>

		<div class="panel panel-default" align="center">
			<!-- Default panel contents -->
			<div class="panel-heading">17/03/2016 - Quinta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Local</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>09:00 – 12 :00 </th>
					<th></th>
					<th>Mini-Cursos*</th>
				</tr>
				<tr>
					<th>07:30  – 13:30 </th>
					<th>Sala Jequitibá - Zoo</th>
					<th>Mini-Curso de Taxidermia (prática)** </th>
				</tr>
				<tr>
					<th>12:30 – 14:00 </th>
					<th></th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>14:00 - 15:00 h	</th>
					<th>Sala Elefante</th>
					<th>Palestra: Educação Ambiental - Esp. Ana Paula Navarro (Psicóloga, Educadora e  
						especialista em Jogos Cooperativos com formação em Psicologia Transpessoal em São Paulo-SP)</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Elefante</th>
					<th>Palestra: Prótese de bico de aves – Dr. Roberto Fecchio (Pesquisador do Laboratório de Odontologia Comparada LOC FMVZ-USP)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Jacaré</th>
					<th>Palestra : Conservação de Germoplasma Animal e Biotecnologias Aplicadas a Reprodução de Animais Silvestres
                        - Dr. Alexandre Rodrigues Silva  (Professor efetivo adjunto 4 da Universidade Federal Rural do Semi Árido - UFERSA)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Lontra Albina</th>
					<th>Palestra: A  importância do GEAS na formação de profissionais na área de animais silvestres –
                        Isaac Albuquerque (Médico Veterinário e Diretor Executivo da S.O.S Selvagens em Maceió-AL)
                    </th>
				</tr>
				<tr>
					<th>15:45 - 16:00</th>
					<th></th>
					<th>coffee break</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
                        16:00 – 16:45 </th>
					<th>Sala Elefante</th>
					<th>Palestra : Programa de conservação do mutum-de-Alagoas: O papel dos Zoológicos –
                        Dra. Yara Barros (Bióloga do Parque das Aves em Foz do Iguaçu-PR)</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
                        16:00 – 16:45 </th>
					<th>Sala Jacaré</th>
					<th>Palestra: Manutenção de Anfíbios sob cuidados humanos –
                        Sergio Rangel (Biólogo da empresa Aquarium Group,e representante das rações alemãs da marca SERA para peixes ornamentais, repteis e anfíbios)</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
                        16:00 – 16:45 </th>
					<th>Sala Lontra Albina</th>
					<th>Palestra: Projeto Tamanduá  - ações que favorecem a conservação das espécies de Xenarthra no Brasil – Mariana Catapani</th>
				</tr>
				<tr>
					<th>16:45 – 17:00 </th>
					<th>Sala Elefante</th>
					<th>Resultados da campanha O Ano do Lobo - MSc.  Rogério Cunha de Paula (Analista Ambiental do Centro Nacional de Pesquisa e Conservação de Mamíferos Carnívoros -CENAP/ ICMBio)</th>
				</tr>
				<tr>
					<th>17:00 – 18:30</th>
					<th>Sala Elefante</th>
					<th>Apresentação da Campanha da SZB 2016 – O Ano do Papagaio</th>
				</tr>
				<tr>
					<th>18:00 </th>
					<th>Sala Elefante</th>
					<th>Assembléia da SZB</th>
				</tr>
				<tr>
					<th>20:00 </th>
					<th>Sala Elefante</th>
					<th>Programação Socio-Cultural
                    </th>
				</tr>

			</table>
            <table><thead>
                <tr bgcolor="#f0ffff"><th>*Verificar detalhamento em mini-cursos  ** incluindo o almoço das  11:00 – 11:30 </th></tr>
                </thead>
            </table>
		</div>

		<div class="panel panel-default" align="center">
			<!-- Default panel contents -->
			<div class="panel-heading">18/03/2016 – Sexta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>Local</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>09:00 – 12 :00 </th>
					<th></th>
					<th>Mini-Cursos*</th>
				</tr>
				<tr>
					<th>07:30  – 13:30 </th>
					<th>Sala Jequitibá - Zoo</th>
					<th>Mini-Curso de Taxidermia (prática)** </th>
				</tr>
				<tr>
					<th>12:30 – 14:00 </th>
					<th></th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>14:00 - 15:00 </th>
					<th>Sala Elefante</th>
					<th>Palestra democrática: Responsabilidade técnica em Zoológicos e Aquários –  Dr.
                        Henrique Luiz Tavares (Zootecnista da  Fundação Parque Zoológico de São Paulo-SP)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Elefante</th>
					<th>Palestra do Comitê de Aquários - Palestrante a confirmar</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala Jacaré</th>
					<th>Palestra : Biossegurança e Medicina Preventiva em Zoológicos -
						Dr. Jean Carlos Ramos da Silva (Professor Associado  do Departamento de Medicina Veterinária da Universidade Federal Rural de Pernambuco-UFRPE)
					</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 </th>
					<th>Sala lontra Albina</th>
					<th>Palestra: Reprodução de  Arara-azul-de-lear na América Latina e o papel do CECFAU
						Fernanda  Junqueira Vaz Guida (Bióloga chefe do Setor de Aves da Fundação Parque Zoológico de São Paulo)</th>
				</tr>
                <tr>
					<th>15:45 - 16:00</th>
					<th>Sala Elefante</th>
					<th>Coffee break</th>
				</tr>
				<th>Mesa Redonda
                        16:00 – 18:00 </th>
					<th>Sala Elefante</th>
					<th>Bem-estar, conservação e percepção do público – moderadora: Yara Barros
						1. Gerardo Martinez: tema a confirmar (30 min)
						2. Cláudio Maas: Esforços da SZB para a melhoria do bem-estar em instituições brasileiras (30 min)
						3. Paloma Bosso: Pontos críticos para o bem-estar animal em zoos e aquários brasileiros (30 min)
						Discussão: 30 min
					</th>
				</tr>

                <tr>
                    <th>18:00 – 18:30 </th>
                    <th>Sala Elefante</th>
                    <th>Apresentação da ABTAS</th>
                </tr>
                <tr>
                    <th>18:30 - 18:45</th>
                    <th>Sala Elefante</th>
                    <th>Anúncio do Congresso 2017</th>
                </tr>
                <tr>
                    <th>18:45</th> - 19:00
                    <th>Sala Elefante</th>
                    <th>Encerramento do Congresso</th>
                </tr>

			</table>
            <table><thead>
                <tr bgcolor="#f0ffff"><th>* Verificar detalhamento em mini-cursos  ** incluindo o almoço das  11:00 – 11:30 </th></tr>
                </thead>
            </table>
		</div>


	</section>
{% endblock %}
