{% extends 'base.html.twig' %}

{% block body %}

	<section class="container" xmlns:text-align="http://www.w3.org/1999/xhtml">

		<header class="page-header">
			<h2>Programação Geral</h2>
		</header>

		<div class="panel panel-default"align="center">
			<!-- Default panel contents -->
			<div class="panel-heading" >15/03/2016 - Terça-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>08  – 18 hs</th>
					<th> A Definir </th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08:30 – 11:30 hs</th>
					<th>A Definir</th>
					<th>Reunião de Planejamento Estratégico - SZB</th>
				</tr>
				<tr>
					<th>08:30 – 12:00 hs</th>
					<th>Bica</th>
					<th>Visita ao Parque Zoobotânico Arruda Câmara - BICA</th>
				</tr>
				<tr>
					<th>12:00 – 13:30 hs</th>
					<th>A Definir</th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>13:30 – 14:00 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação do CERAS - Centro de Reabilitação de Animais Silvestres - Roberto Citelli
						(Médico Veterinário do Parque Zoobotânico Arruda Câmara) e Glenison Dias (Médico Veterinário do Parque Zoobotânico Arruda Câmara)</th>
				</tr>
				<tr>
					<th>14:00 – 14:30 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação do projeto de revitalização do Parque Zoobotânico Arruda Câmara – Dr.
						Marcos Santana (Professor noCurso de Arquitetura na Universidade Federal da Paraíba)</th>
				</tr>
				<tr>
					<th>14:30 - 15:15 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra: Noções de eletrocardiograma em animais silvestres – Dr. Almir Pereira de Souza
						(Professor Efetivo da Universidade Federal de Campina Grande - UFCG)

					</th>
				</tr>
				<tr>
					<th>15:15 - 15:30 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação oral  selecionada</th>
				</tr>
				<tr>
					<th>15:30 - 15:45 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação oral  selecionada</th>
				</tr>
				<tr>
					<th>15:45 – 16:00 hs</th>
					<th></th>
					<th>Coffebreak</th>
				</tr>
				<tr>
					<th>16:00 – 16:50 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra:  Conservação e manejo da herpetofauna no nordeste - Dr. Marco Antonio de Freitas (Analista Ambiental do ICMBIO-PE)
                    </th>
				</tr>
				<tr>
					<th>16:00 –16:50 hs</th>
					<th>Sala Carcará <br>Evento paralelo</th>
					<th>Teórica do Mini-Curso de Taxidermia - Joao Galdino (Taxidermista e Diretor do Instituto Harpia de História Natural, localizado em Cornélio Procópio -PR)
					</th>
				</tr>
				<tr>
					<th>16:50  – 17:40 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra: Levando a Rotina dos Zoos para Dentro da sua Casa - Dr. Rodrigo Teixeira
						(Médico Veterinário do Zoológico de Sorocaba-SP e protagonista principal do programa Dr. Selvagem do Animal Planet)</th>
				</tr>
				<tr>
					<th>19:00 – 19:30  hs</th>
					<th></th>
					<th>Abertura do Congresso</th>
				</tr>
				<tr>
					<th>19:30 – 20:30 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra de Abertura – Dra. Yara Barros (Bióloga do Parque das Aves em Foz do Iguaçu-PR)
						ANIMAIS SOB CUIDADOS HUMANOS EM ZOOS E AQUÁRIOS: DESAFIOS E OPORTUNIDADES
					</th>
				</tr>
                <tr>
					<th>20:30 hs</th>
					<th></th>
					<th>Coquetel de Abertura e aprese</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">16/03/2016 - Quarta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>09:00 – 12 :00 hs</th>
					<th></th>
					<th>Mini-Cursos*</th>
				</tr>
				<tr>
					<th>07:30  – 13:30 hs</th>
					<th>Sala Jequitibá - Zoo</th>
					<th>Mini-Curso de Taxidermia (prática)**</th>
				</tr>
				<tr>
					<th>12:30 – 14:00 hs</th>
					<th></th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>14:00 - 15:00</th>
					<th>Sala Elefante</th>
					<th>Palestrante de Honra - Gerardo Martinez  (Chefe do Setor de Conservação e Bem-Estar Animal do Africam Safári no México) </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra : Contenção química e anestesia de animais silvestres – MSc. Gianmarco Rojas
                        (Professor efetivo do Curso de Manejo e Medicina de Fauna Silvestre da Universidad Científica
                        del Sur em Lima-PERU e Membro do Crocodile Specialist Group-IUCN)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala Jacaré</th>
					<th>Palestra: Enriquecimento ambiental em recintos de zoológicos - Esp. Paloma Bosso
                        (Médica Veterinária responsável pelo setor de Enriquecimento Ambiental e Bem-Estar do Parque das
                        Aves em Foz do Iguaçu-PR e Consultora da empresa ETO)
					</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala Lontra Albina</th>
					<th>Palestra : A falcoaria como equipamento de reabilitação para aves de zoológico - Gustavo Trainini
                        (Ecólogo Proprietário da empresa HAYABUSA - Falcoaria e Consultoria Ambiental, em Porto Alegre-RS)
                    </th>
				</tr>
				<tr>
					<th>15:45 - 16:00</th>
					<th></th>
					<th>Cofee-break</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 17:45 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra : Técnicas de fotografia para animais silvestres - Haroldo Palo (Fotógrafo profissional
                        e Diretor de Arte da Editora Vento Verde, em São Paulo-SP)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 17:45 hs</th>
					<th>Sala Jacaré</th>
					<th>Palestra: Manutenção de serpentes em cativeiro - Breno Almeida (Biólogo proprietário do
                        Criadouro Científico Centro Amazônico de Herpetologia, em Belém-PA)
					</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 17:45 hs</th>
					<th>Sala Lontra Albina</th>
					<th>Palestra : Cenografia para Aquários – Esp. Lee Oliveira  (Artista plástico, proprietário da empresa Arquitetura Animal
                        - Cenografia e Ambientação para Animais)
                    </th>
				</tr>
				<tr>
					<th>Palestras Simultâneas
						17:45 – 18:30 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra:  Nutrição Animal - Dr. Henrique Luiz Tavares (Zootecnista da  Fundação Parque Zoológico de São Paulo-SP)</th>
				</tr>
				<tr>
					<th>Palestras Simultâneas
						17:45 – 18:30 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra: Clínicade Répteis – Daniel Fedullo (Médico Veterinário do Beto Carrero World)</th>
				</tr>
				<tr>
					<th>Palestras Simultâneas
						17:45 – 18:30 hs</th>
					<th>Sala Lontra Albina</th>
					<th>Palestra : Cetáceos e Quelônios Marinhos – Dr. Fábio Lima (Professor Efetivo da Universidade do Estado do Rio Grande do Norte - UERN)</th>
				</tr>
				<tr>
					<th>19:00 hs</th>
					<th>A confirmar</th>
					<th>Futebol Animal  Paraíba X Resto do Mundo </th>
				</tr>
				<tr>
					<th>20:00 hs</th>
					<th>A Confirmar</th>
					<th>Noite de autógrafos e Programação Socio-Cultural : Forró-pé-de-serra</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">17/03/2016 - Quinta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>09:00 – 12 :00 hs</th>
					<th></th>
					<th>Mini-Cursos*</th>
				</tr>
				<tr>
					<th>07:30  – 13:30 hs</th>
					<th>Sala Jequitibá - Zoo</th>
					<th>Mini-Curso de Taxidermia (prática)** </th>
				</tr>
				<tr>
					<th>09:00 – 12 :00 hs</th>
					<th></th>
					<th>Mini-Cursos	</th>
				</tr>
				<tr>
					<th>12:30 – 14:00 hs</th>
					<th></th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>14:00 - 15:00 h	</th>
					<th>Sala Elefante</th>
					<th>Palestra: Educação ambiental  - ANA PAULA NAVARRO</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra: Prótese de bico de aves – Roberto Fecchio</th>
				</tr>
				<tr>
					<th>14:00 - 15:00 h	</th>
					<th>Sala Jacaré	</th>
					<th>Palestra : Conservação de Germoplasma Animal e Biotecnologias
						Aplicadas a Reprodução de Animais Silvestres - Alexandre Rodrigues Silva
						– Professor da UFERSA - RN</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala Lontra Albina</th>
					<th>Palestra: A  importância do GEAS na formação de profissionais na área de animais silvestres – Isaac Albuquerque
					</th>
				</tr>
				<tr>
					<th>15:45 - 16:00</th>
					<th></th>
					<th>Cofee-break	</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 16:45 hs
					</th>
					<th>Sala Elefante</th>
					<th>Palestra : Programa de conservação do mutum-de-Alagoas: O papel dos Zoológicos – Yara Barros</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 16:45 hs
					</th>
					<th>Sala Jacaré</th>
					<th>Palestra: Manutenção de Anfíbios sob cuidados humanos – Sergio Rangel</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						16:00 – 16:45 hs
					</th>
					<th>Sala Lontra Albina</th>
					<th>Palestra: Projeto Tamanduá  - ações que favorecem a conservação das
						espécies de Xenarthra no Brasil – Mariana Catapani</th>
				</tr>
				<tr>
					<th>16:45 – 17:15</th>
					<th>Sala Elefante</th>
					<th>Resultados da campanha O Ano do Lobo - Yara Barros</th>
				</tr>
				<tr>
					<th>17:15 – 17:45</th>
					<th>Sala Elefante</th>
					<th>Apresentação da Campanha da SZB 2016– Sustentabilidade ou ano do Papagaio ?	</th>
				</tr>
				<tr>
					<th>17:45 – 18:00</th>
					<th>Sala Elefante</th>
					<th>Apresentação do Congresso 2017</th>
				</tr>
				<tr>
					<th>18:00 hs</th>
					<th>Sala Elefante</th>
					<th>Assembléia da SZB</th>
				</tr>
				<tr>
					<th>20:00 hs</th>
					<th></th>
					<th>Noite de Autógrafos e Programação Socio-Cultural</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">18/03/2016 – Sexta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>09:00 – 12 :00 hs</th>
					<th></th>
					<th>Mini-Cursos</th>
				</tr>
				<tr>
					<th>07:30  – 13:30 hs</th>
					<th>Sala Jequitibá - Zoo</th>
					<th>Mini-Curso de Taxidermia (incluindo o almoço das  11:00 – 11:30 hs)</th>
				</tr>
				<tr>
					<th>12:30 – 14:00 hs</th>
					<th></th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>14:00 - 15:00 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra democrática: Responsabilidade técnica em Zoológicos e Aquários – Luiz Henrique Tavares  </th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra do Comitê de Aquários – Já mantivemos contato, estamos esperando confirmação</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala Jacaré</th>
					<th>Palestra : Biossegurança e Medicina Preventiva em Zoológicos - Jean Carlos Ramos da Silva</th>
				</tr>
				<tr>
					<th>Palestras Simultaneas
						15:00 – 15:45 hs</th>
					<th>Sala lontra Albina</th>
					<th>Palestra : Reprodução de  Arara-azul -de-lear  na América Latina / CECFAU – Fernanda  Junqueira Vaz Guida</th>
				</tr>
				<tr>
					<th>15:45 - 16:00 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação da Bolsa DevraKleiman 2017 – Diretora de Comunicação – SZB - Yara Barros</th>
				</tr>
				<tr>
					<th>16:0 - 16:15 hs</th>
					<th></th>
					<th>Cofee-break</th>
				</tr>
				<tr>
					<th>Mesa Redonda
						16:15 – 18:00 hs</th>
					<th>Sala Elefante</th>
					<th>Bem-estar, conservação e percepção do público – MODERADORA: YARA
						1. Dave Morgan – Substituir por motivos orçamentários: Zoos disfuncionais e seu efeito na percepção do público (30 min)
						2. Cláudio H. Maas: Esforços da SZB para a melhoria do bem-estar em instituições brasileiras (30 min)
						3. Paloma Bosso: Pontos críticos para o bem-estar em zoos e aquários brasileiros (30 min)
						Discussão - 15 min
					</th>
				</tr>
				<tr>
					<th>18:00 – 18:30 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação da  ABTAS</th>
				</tr>
				<tr>
					<th>18:30 hs</th>
					<th>Sala Elefante</th>
					<th>Encerramento do Congresso</th>
				</tr>

			</table>
		</div>


	</section>

{% endblock %}
