{% extends 'base.html.twig' %}

{% block body %}

	<section class="container" xmlns:text-align="http://www.w3.org/1999/xhtml">

		<header class="page-header">
			<h2>Programação Geral</h2>
		</header>

		<div class="panel panel-default"align="center">
			<!-- Default panel contents -->
			<div class="panel-heading" >15/03/2016 - Terça-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08:30 – 11:30 hs</th>
					<th>A Definir</th>
					<th>Reunião de Planejamento Estratégico - SZB</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08:30 – 12:00 hs</th>
					<th>Bica</th>
					<th>Visita ao Parque Zoobotânico Arruda Câmara - BICA</th>
				</tr>
				<tr>
					<th>12:00 – 13:30 hs</th>
					<th>A Definir</th>
					<th>Almoço</th>
				</tr>
				<tr>
					<th>13:30 – 14:00 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação do CERAS - Centro de Reabilitação de Animais Silvestres
						- Roberto Citelli e Glenison Dias</th>
				</tr>
				<tr>
					<th>14:00 – 14:30 hs</th>
					<th>Sala Elefante</th>
					<th>Apresentação do projeto de revitalização do Parque Zoobotânico Arruda Câmara
						– Marcos Santana</th>
				</tr>
				<tr>
					<th>14:30 - 15:15 hs</th>
					<th>Sala Elefante</th>
					<th>Palestra: Noções de eletrocardiograma em animais silvestres – Almir Pereira de Souza
						– Professor da UFCG</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">16/03/2016 - Quarta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">17/03/2016 - Quinta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
			</table>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">19/03/2016 – Sexta-feira</div>
			<!-- Table -->
			<table class="table table-bordered">
				<thead>
				<tr bgcolor="#f0ffff">
					<th>Horário</th>
					<th>Sala</th>
					<th>Atividade</th>
				</tr>
				</thead>
				<tr>
					<th>08  – 18 hs</th>
					<th>A Definir</th>
					<th>Credenciamento</th>
				</tr>
			</table>
		</div>


	</section>

{% endblock %}
