{% extends 'base.html.twig' %}

{% block body %}

	<div id="header-wrapper">
		<div class="container">
			<img src="{{ asset('images/bannerBica.png') }}" alt="">
		</div>
	</div>

	<div id="banner">
		<div id="slider">
			<div class="viewer">
				<div class="reel">
					<div class="slide">
						<h2>Jacaré</h2>
						<p>Lorem ipsum dolor sit amet nullam.</p>
						<a class="link" href="#">Full story ...</a> <img src="{{ asset('images/pic01.jpg') }}" alt="" /> </div>
					<div class="slide">
						<h2>This is the second slide.</h2>
						<p>Lorem ipsum dolor sit amet nullam.</p>
						<a class="link" href="#">Full story ...</a> <img src="{{ asset('images/pic02.jpg') }}" alt="" /> </div>
					<div class="slide">
						<h2>This is the third slide.</h2>
						<p>Lorem ipsum dolor sit amet nullam.</p>
						<a class="link" href="#">Full story ...</a> <img src="{{ asset('images/pic03.jpg') }}" alt="" /> </div>
				</div>
			</div>
			<div class="indicator">
				<ul>
					<li class="active">1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="featured" class="container">
			<h2 class="title">Parceiros do Evento</h2>
			<div id="fbox1" >
				<img src="images/logoszb.jpg" width="300" height="300" alt="" />
			</div>
			<div id="fbox2" >
				<img src="images/logopmjp.jpg" width="300" height="300" alt="" />
			</div>
			<div id="fbox3" >
				<img src="images/logobica.jpg" width="300" height="300" alt="" />
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$('#slider').slidertron({
			viewerSelector: '.viewer',
			reelSelector: '.viewer .reel',
			slidesSelector: '.viewer .reel .slide',
			advanceDelay: 3000,
			speed: 'slow',
			navPreviousSelector: '.previous-button',
			navNextSelector: '.next-button',
			indicatorSelector: '.indicator ul li',
			slideLinkSelector: '.link'
		});
	</script>
{% endblock %}
