{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">

		<header class="page-header">
			<h2>Localização do Congresso</h2>
		</header>

        <div class="panel panel-default">

            <div class="panel-heading" >
                Parte do Evento será realizado no Espaço Cultural José Lins do Rêgo/FUNESC.<br>
                Alguns mini-cursos serão realizados na Bica.<br>
                Favor verificar na Programação o local onde será realizada cada atividade.<br>
            </div>
        </div>
        <div class="panel panel-default"align="center">
            <!-- Default panel contents -->
            <div class="panel-heading" >Evento: Espaço Cultural José Lins do Rego</div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5598.918784522393!2d-34.84489454458109!3d-7.1221226488212945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd4a4d4a26c9%3A0xc2fff8a36f28b95!2sFUNESC+-+R.+Maj.+Salustino+Ribeiro+-+Tambauzinho%2C+Jo%C3%A3o+Pessoa+-+PB!5e0!3m2!1spt-BR!2sbr!4v1453222031954" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
		<div class="panel panel-default"align="center">
			<!-- Default panel contents -->
			<div class="panel-heading" >Zoolôgico: Arruda Câmara - BICA</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.1026597407363!2d-34.87841035045116!3d-7.114100771708993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace7efed034e6d%3A0xba338927564cdbc4!2sBICA+-+Parque+Zoobot%C3%A2nico+Arruda+C%C3%A2mara!5e0!3m2!1spt-BR!2sbr!4v1449188726170" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

		</div>
	</div>

    <div class="container">

        <header class="page-header">
            <h2>RELAÇÃO DE HOTÉIS </h2>
        </header>
        <table class="table table-bordered">
            <tr>
                <th style="width:480px;">
                <div class="panel panel-default"align="center">
                    <div class="panel-heading" >Cabo Branco Atlântico (Hotel dos Congressistas)</div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15835.31345779184!2d-34.809891!3d-7.1458362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x763d8430b49230d3!2sHotel+Cabo+Branco+Atl%C3%A2ntico!5e0!3m2!1spt-BR!2sbr!4v1452100205544" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
                    <p>Endereço: Av.Cabo Branco, 4550 - Cabo Branco - João Pessoa/PB <br>
                        www.cabobrancoatlantico.com.br <br>
                        Contato: Edileuza Jerônimo<br>
                        Telefone: (083) 3507-2502<br>
                        E-mail: reservas@cabobrancoatlantico.com.br<br>
                        Valores/diárias:<br>
                        Frente Mar Single - R$245,00 + 15% cada apto<br>
                        Frente Mar Duplo - R$266,00 + 15% cada apto<br>
                        Standard Single - R$206,00 + 15% cada apto<br>
                        Standard  Duplo - R$216,00 + 15% cada apto<br>
                        Standard Triplo - R$286,00 + 15% cada apto<br>
                        Interno Triplo - R$263,00 + 15%<br>
                        Distância Hotel/FUNESC - 6,1km<br>
                        Distância Hotel/Bica - 10,3km
                    </p>
                </th>
                <th>
                <div class="panel panel-default"align="center">
                    <div class="panel-heading" >Corais de Tambaú Hotel</div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.364384582976!2d-34.8228982!3d-7.1154415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1486b0bea2b33e50!2sHotel+Corais+De+Tambau!5e0!3m2!1spt-BR!2sbr!4v1452101145103" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                    <p>www.hotelcoraisdetambau.com.br<br>
                        Contato: Sonale Campos<br>
                        Telefone: (083) 3022-2500 Rml 2516<br>
                        E-mail: reservas@hotelcoraisdetambau.com.br<br>
                        Valores/diárias:<br>
                        Apto Duplo (Luxo) - R$285,00<br>
                        Apto Triplo (Luxo) - R$385,00<br>
                        Apto Quádruplo (Luxo) - R$480,00<br>
                        Distância Hotel/FUNESC - 3,2km<br>
                        Distância Hotel/Bica - 7,3km
                    </p>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Tropical Hotel Tambaú</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.487193891147!2d-34.822055!3d-7.1118812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2e317d77cc6216bf!2sTropical+Tamba%C3%BA!5e0!3m2!1spt-BR!2sbr!4v1452101349882" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                    <p>
                        Endereço: Av.Alm.Tamandaré, 229, Tambaú - João Pessoa/PB <br>
                        www.tropicaltambau.com.br <br>
                        Contato: Nóbrega Oliveira <br>
                        Telefone: (083) 2107-1939 <br>
                        E-mail: reservas.tambau@tropicalhotel.com.br <br>
                        Valores/diárias: <br>
                        Standard Single - R$297,00 <br>
                        Standard Duplo - R$342,10 <br>
                        Superior Single - R$371,80 <br>
                        Superior Duplo - R$427,90 <br>
                        Superior Triplo - R$534,60 <br>
                        Lanai Quádruplo - R$684,20 <br>
                        Suíte Duplo - R$821,70 <br>
                        Distância Hotel/FUNESC - 3,4km <br>
                        Distância Hotel/Bica - 7,4km <br>
                    </p>
                </th>
                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Ouro Branco Praia Hotel</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.361096455914!2d-34.825182!3d-7.1155368!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1e52b0bc75e17a15!2sOuro+Branco+Praia+Hotel!5e0!3m2!1spt-BR!2sbr!4v1452101468673" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <p>
                        Endereço: Av.Nossa Senhora dos Navegantes, 431-Tambaú-João Pessoa/PB<br>
                        www.hoteisourobranco.com.br<br>
                        Contato: Larissa Formiga<br>
                        Telefone: (083) 4009-0100<br>
                        E-mail: reservas@ourobrancohoteis.com.br<br>
                        Valores/diárias:<br>
                        Single e Duplo - R$249,00<br>
                        Triplo - R$289,00<br>
                        Distância Hotel/FUNESC - 3,0km<br>
                        Distância Hotel/Bica - 7,1km
                    </p>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Hotel Caiçara</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.460379954999!2d-34.8248514!3d-7.1126587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc024d5156125605!2sHotel+Cai%C3%A7ara!5e0!3m2!1spt-BR!2sbr!4v1452101698861" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <p>
                        Endereço: Av.Olinda, 235 - Tambaú - João Pessoa/PB <br>
                        www.hotelcaicara.com.br<br>
                        Contato: Joseana Alencar<br>
                        Telefone: (083) 2106-1000<br>
                        E-mail: reservas@hotelcaicara.com<br>
                        Valores/diárias:<br>
                        Single - R$210,00 +5%<br>
                        Duplo - R$235,00 + 5%<br>
                        Triplo - R$320,00 + 5%<br>
                        Distância Hotel/FUNESC - 3,1km<br>
                        Distância Hotel/Bica - 7,1km
                    </p>
                </th>
                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Verde Green Hotel</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.604530463868!2d-34.8254977!3d-7.1084779!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4716db47a3cd5bf!2sVerde+Green+Hotel!5e0!3m2!1spt-BR!2sbr!4v1452101775130" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <p>
                        Endereço:Av. João Maurício, 255, Manaíra - João Pessoa/PB <br>
                        www.verdegreen.com.br<br>
                        Contato: Roberta Cavalcanti<br>
                        Telefone: (083) 3044-0006<br>
                        E-mail: reservas@verdegreen.com.br<br>
                        Valores/diárias:<br>
                        Apto Single - R$291,00<br>
                        Apto Duplo - R$343,00<br>
                        Apto Triplo - R$444,00<br>
                        Suíte Frente Mar Single - R$310,00<br>
                        Suíte Frente Mar Duplo - R$ 364,00<br>
                        Suíte Manaíra Single - R$581,00<br>
                        Suíte Manaíra Duplo - R$685,00<br>
                        Distância Hotel/FUNESC - 3,3km<br>
                        Distância Hotel/Bica - 7,3km
                    </p>
                </th>
            </tr>


        </table>
    </div>

    <div class="container">

        <header class="page-header">
            <h2>POUSADAS E HOSTEL’S </h2>
        </header>
        <table class="table table-bordered">
            <tr>
                <th style="width:480px;">
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Hotel Pousada Tamandaré</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.347446637386!2d-34.8230391!3d-7.1159324!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x620da781d4622a05!2sHotel+Pousada+Tamandar%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1452259500692" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <p>Endereço: Av. Alm. Tamandaré, 680, Tambaú - João Pessoa/Pb <br>
                        www.pousadatamandarepb.com.br <br>
                        Contato: Sonale Campos<br>
                        Telefone: (083) 3022-2500 Rml 2516<br>
                        E-mail: pousadatamandarepb@hotmail.com<br>
                        Valores/diárias:<br>
                        Apto Duplo (Luxo) - R$246,00<br>
                        Apto Triplo (luxo) - R$325,00<br>
                        Apto Quádruplo (Luxo) - R$ 405,00<br>
                        Distância Hotel/FUNESC - 3,2km<br>
                        Distância Hotel/Bica - 7,2km
                    </p>
                </th>

                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Pousada Tambaú Mar</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.35201506313!2d-34.8289665!3d-7.1158!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ac364ffe113e6b7!2sPousada+Tamba%C3%BA+Mar!5e0!3m2!1spt-BR!2sbr!4v1452259843023" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <p>
                        Endereço: Rua Silvino Lopes, 811 , Tambaú - João Pessoa/Pb <br>
                        www.pousadatambaumar.com.br <br>
                        Contato: Derek Asp<br>
                        Telefone: (083) 3512-8303<br>
                        E-mail: pousadatambaumar@outlook.com<br>
                        Valores/diárias:<br>
                        Duplo Standard - R$140,00<br>
                        Duplo Superior - R$160,00<br>
                        Triplo Superior - R$245,00<br>
                        Quádruplo Standard - R$349,00<br>
                        Quádruplo Comfort - R$399,00<br>
                        Distância Hotel/FUNESC - 2,7km<br>
                        Distância Hotel/Bica - 6,7km
                    </p>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Pousada boi Bumbá </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.232549158316!2d-34.8280255!3d-7.1192615!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a8c29b78f89fe06!2sPousada+Boi+Bumb%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1452259998486" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    <p>
                        Endereço: Av. Presidente Epitácio Pessoa, 4841 - João Pessoa/PB <br>
                        www.pousadaboibumba.com.br <br>
                        Contato: Jefferson Uekawa<br>
                        Telefone: (083) 3578-2537<br>
                        E-mail: contato@pousadaboibumba.com.br<br>
                        Valores/diárias:<br>
                        Duplo - R$160,00<br>
                        Triplo - R$210,00<br>
                        Quádruplo - R$270,00<br>
                        Distância Hotel/FUNESC - 1,9km<br>
                        Distância Hotel/Bica - 6,5km
                    </p>
                </th>
                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Slow Hostel</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.647885308646!2d-34.827783!3d-7.10722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe52e8828fd1ca3f7!2sSlow+Hostel+-+Hospedagem+Criativa+em+Jo%C3%A3o+Pessoa!5e0!3m2!1spt-BR!2sbr!4v1452260873005" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <p>
                        Endereço: Av. Cajazeiras, 108, Manaíra - João Pessoa/PB <br>
                        www.slowhostel.net<br>
                        Contato: Ana Carla<br>
                        Telefone: (083) 3021-7218<br>
                        E-mail: slowhostel@hotmail.com<br>
                        Valores/diárias:<br>
                        Quarto Coletivo Misto (meninas e meninos) ventilador - R$45,00 por pessoa<br>
                        Quarto Coletivo Misto (meninas e meninos) ar condicionado - R$50,00 por pessoa<br>
                        Quarto Individual com ar - R$ 90,00 por pessoa<br>
                        Quarto duplo com ar - R$120,00 para as duas pessoas<br>
                        Distância Hotel/FUNESC - 3,5km<br>
                        Distância Hotel/Bica - 7,6km
                    </p>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="panel panel-default"align="center">
                        <div class="panel-heading" >Manaíra Hostel</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15836.711740441098!2d-34.8329285!3d-7.1053669!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5be4383b385bbbe7!2sManaira+Hostel+(albergue+da+Juventude)!5e0!3m2!1spt-BR!2sbr!4v1452261267187" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <p>
                        Endereço: R. Maj.Ciraulo, 380, Manaíra - João Pessoa/PB<br>
                        www.manairahostel.com.br<br>
                        Contato: Júnior<br>
                        Telefone: (083) 3247-1962<br>
                        E-mail: manairahostel@hotmail.com<br>
                        Valores/diárias:<br>
                        Coletivo Alberguista com ventilador - R$40,00<br>
                        Coletivo Alberguista com ar condicionado - R$45,00<br>
                        Coletivo não-Alberguista com ventilador - R$50,00<br>
                        Coletivo não-Alberguista com ar condicionado - R$55,00<br>
                        Individual Alberguista ou Duplo com ar condicionado - R$95,00<br>
                        Individual não-Alberguista ou Duplo com ar condicionado - R$110,00<br>
                        Triplo Alberguista com ar condicionado - R$130,00<br>
                        Triplo não-Alberguista com ar condicionado - R$160,00<br>
                        Distância Hotel/FUNESC - 3,6km<br>
                        Distância Hotel/Bica - 7,6km
                    </p>
                </th>
            </tr>
        </table>

    </div>


{% endblock %}
