{% extends 'base.html.twig' %}

{% block body %}

	<section class="container" xmlns:text-align="http://www.w3.org/1999/xhtml">

				<header class="page-header">
						<h2>Mini Cursos</h2>
				</header>

				<div class="panel panel-default">
					<!-- Table -->
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>Curso</th>
							<th>Horário (hora local)</th>
							<th>Local e vagas</th>
							<th>Tema</th>
							<th>Palestrante(s)</th>
						</tr>
						</thead>
						<tr>
							<th>1</th>
							<th>07:30 – 13:30</th>
							<th>Sala Jequitibá - Zoo <br>(20 vagas)</th>
							<th>Taxidermia – Aproveitamento de Material  Biológico em Zoológicos.</th>
							<th>João Aparecido Galdino</th>
						</tr>
						<tr>
							<th>2</th>
							<th>09:00 – 12:00</th>
							<th>Sala Carcará - Zoo<br>(40 vagas)</th>
							<th>Introdução a Falcoaria.</th>
							<th>Gustavo Trainini</th>
						</tr>
						<tr>
							<th>3</th>
							<th>09:00 – 12:00</th>
							<th>Sala Onça-Pintada - Zoo<br>(40 vagas)</th>
							<th>Bem-estar e manejo etológico em zoológicos - teórico-prático</th>
							<th>Paloma Bosso e Gerardo Amaro</th>
						</tr>
						<tr>
							<th>4</th>
							<th>09:00 – 12:00</th>
							<th>Sala Ararajuba - Zoo<br>(40 vagas)</th>
							<th>Educação Ambiental</th>
							<th>Ana Paula Navarro</th>
						</tr>
						<tr>
							<th>5</th>
							<th>09:00 – 12:00</th>
							<th>Sala Jacaré - Zoo<br>(40 vagas)</th>
							<th>Manejo de Répteis em Zoológicos</th>
							<th>Gianmarco Rojas e Breno Almeida</th>
						</tr>
						<tr>
							<th>6</th>
							<th>09:00 – 12:00</th>
							<th>Sala Quati - Zoo<br>(40 vagas)</th>
							<th>Eletrocardiograma em Animais Silvestres</th>
							<th>Almir Pereira de Souza</th>
						</tr>
						<tr>
							<th>7</th>
							<th>09:00 – 12:00</th>
							<th>Sala Guaxinim - Zoo<br>(40 vagas)</th>
							<th>Fotografia de Animais silvestres</th>
							<th>Haroldo Palo</th>
						</tr>
						<tr>
							<th>8</th>
							<th>09:00 – 12:00</th>
							<th>Sala Lontra Albina - Zoo<br>(40 vagas)</th>
							<th>Cenografia para Aquários</th>
							<th>Lee Oliveira</th>
						</tr>
						<tr>
							<th>9</th>
							<th>09:00 – 12:00</th>
							<th>Sala Sala Anta - Zoo<br>(40 vagas)</th>
							<th>Odontologia Aplicada Para Animais Silvestres em zoológicos</th>
							<th>Roberto Fecchio</th>
						</tr>
						<tr>
							<th>10</th>
							<th>09:00 – 12:00</th>
							<th>Sala Arara Vermelha - Zoo<br>(40 vagas)</th>
							<th>Biossegurança e Medicina Preventiva em Zoológicos</th>
							<th>Jean Carlos Ramos da Silva</th>
						</tr>
						<tr>
							<th>11</th>
							<th>09:00 – 12:00</th>
							<th>Sala Jaboti - Zoo<br>(40 vagas)</th>
							<th>Nutrição de Animais silvestres</th>
							<th>Henrique Luis Tavares</th>
						</tr>
						<tr>
							<th>12</th>
							<th>09:00 – 12:00</th>
							<th>Sala Irara - Zoo<br>(40 vagas)</th>
							<th>Tratadores e cuidadores de animais</th>
							<th>Fernando Magnani e Rogério Paschoal</th>
						</tr>
					</table>
				</div>


		</section>

{% endblock %}
