{% extends 'base.html.twig' %}

{% block body %}

	<section class="container" xmlns:text-align="http://www.w3.org/1999/xhtml">

				<header class="page-header">
						<h2>Mini Cursos</h2>
				</header>

				<div class="panel panel-default">
					<!-- Table -->
					<table class="table table-bordered">
						<thead>
						<tr bgcolor="#f0ffff">
							<th>Curso</th>
							<th>Horário (hora local)</th>
							<th>Local e vagas</th>
							<th>Tema</th>
							<th>Palestrante(s)</th>
						</tr>
						</thead>
						<tr>
							<th>1</th>
							<th>07:30 – 13:30</th>
							<th>Sala Jequitibá - Zoo <br>(20 vagas)</th>
							<th>Taxidermia – Aproveitamento de Material  Biológico em Zoológicos.</th>
							<th>João Aparecido Galdino(Taxidermista e Diretor do Instituto Harpia de História Natural, localizado em Cornélio Procópio -PR)</th>
						</tr>
						<tr>
							<th>2</th>
							<th>09:00 – 12:00</th>
							<th>Sala Carcará - Zoo<br>(40 vagas)</th>
							<th>Introdução a Falcoaria.</th>
							<th>Gustavo Trainini(Ecólogo Proprietário da empresa HAYABUSA - Falcoaria e Consultoria Ambiental, em Porto Alegre-RS)</th>
						</tr>
						<tr>
							<th>3</th>
							<th>09:00 – 12:00</th>
							<th>Sala Onça-Pintada - Zoo<br>(40 vagas)</th>
							<th>Bem-estar e manejo etológico em zoológicos - teórico-prático</th>
							<th>Paloma Bosso(Médica Veterinária responsável pelo setor de Enriquecimento Ambiental e Bem-Estar
								do Parque das Aves em Foz do Iguaçu-PR e Consultora da empresa ETO) e Gerardo Martinez
								(Chefe do Setor de Conservação e Bem-Estar Animal do Africam Safári no México)</th>
						</tr>
						<tr>
							<th>4</th>
							<th>09:00 – 12:00</th>
							<th>Sala Ararajuba </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Educação Ambiental</th>
							<th>Ana Paula Navarro(Psicóloga, Educadora e  especialista em Jogos Cooperativos com formação em Psicologia Transpessoal em São Paulo-SP)</th>
						</tr>
						<tr>
							<th>5</th>
							<th>09:00 – 12:00</th>
							<th>Sala Jacaré - Zoo<br>(40 vagas)</th>
							<th>Manejo de Répteis em Zoológicos</th>
							<th>Gianmarco Rojas e Breno Almeida (Professor efetivo do Curso de Manejo e Medicina de Fauna Silvestre da Universidad Científica del
								Sur em Lima-PERU e Membro do Crocodile Specialist Group-IUCN) e Breno Almeida (Biólogo proprietário do Criadouro
								Científico Centro Amazônico de Herpetologia, em Belém-PA)</th>
						</tr>
						<tr>
							<th>6</th>
							<th>09:00 – 12:00</th>
							<th>Sala Quati </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Eletrocardiograma em Animais Silvestres</th>
							<th>Almir Pereira de Souza(Professor Efetivo da Universidade Federal de Campina Grande - UFCG)</th>
						</tr>
						<tr>
							<th>7</th>
							<th>09:00 – 12:00</th>
							<th>Sala Guaxinim </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Fotografia de Animais silvestres</th>
							<th>Haroldo Palo(Fotógrafo profissional e Diretor de Arte da Editora Vento Verde, em São Paulo-SP)</th>
						</tr>
						<tr>
							<th>8</th>
							<th>09:00 – 12:00</th>
							<th>Sala Lontra Albina </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Cenografia para Aquários</th>
							<th>Lee Oliveira (Artista plástico, proprietário da empresa Arquitetura Animal - Cenografia e Ambientação para Animais)</th>
						</tr>
						<tr>
							<th>9</th>
							<th>09:00 – 12:00</th>
							<th>Sala Sala Anta </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Odontologia Aplicada Para Animais Silvestres em zoológicos</th>
							<th>Roberto Fecchio(Pesquisador do Laboratório de Odontologia Comparada LOC FMVZ-USP)</th>
						</tr>
						<tr>
							<th>10</th>
							<th>09:00 – 12:00</th>
							<th>Sala Arara Vermelha </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Biossegurança e Medicina Preventiva em Zoológicos</th>
							<th>Jean Carlos Ramos da Silva(Professor Associado  do Departamento de Medicina Veterinária da Universidade Federal Rural de Pernambuco-UFRPE)</th>
						</tr>
						<tr>
							<th>11</th>
							<th>09:00 – 12:00</th>
							<th>Sala Jaboti </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Nutrição de Animais silvestres</th>
							<th>Henrique Luis Tavares(Zootecnista da  Fundação Parque Zoológico de São Paulo-SP)(Biólogo da empresa Aquarium Group,e representante
								das rações alemãs da marca SERA para peixes ornamentais, repteis e anfíbios)</th>
						</tr>
						<tr>
							<th>12</th>
							<th>09:00 – 12:00</th>
							<th>Sala Irara </br> Espaço Cultural José Lins do Rego<br>(40 vagas)</th>
							<th>Tratadores e cuidadores de animais – teórico/prático</th>
							<th>Fernando Magnani e Rogério Paschoal(Biólogo Diretor do Zoológico de São Carlos-SP) e Rogério Paschoal (Biólogo do Zoológico de São Carlos-SP)</th>
						</tr>
						<tr>
							<th>13</th>
							<th>09:00 - 12:00 hs</th>
							<th>----------<br>(40 vagas)</th>
							<th>Manejo de anfíbios sob cuidados humanos</th>
							<th>Sergio Rangel</th>
						</tr>
					</table>
				</div>


		</section>

{% endblock %}
