{% extends 'base.html.twig' %}

{% block body %}

		<section class="container">

				<header class="page-header">
						<h2>Sobre o Congresso</h2>
				</header>

				<article>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A SZB – Sociedade de Zoológicos e Aquários do Brasil, tem como missão promover o desenvolvimento
						integral e o aprimoramento constante dos zoos e aquários do país, buscando seu fortalecimento
						para que trabalhem dentro dos mais altos padrões éticos e de bem-estar animal e colaborem
						efetivamente com a conservação da biodiversidade.</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No período de 15 a 18 de março de 2016, será realizado no município de João Pessoa, Estado da
						Paraíba, o 40º Congresso da Sociedade de Zoológicos e Aquários do Brasil-SZB.</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O Parque Zoobotânico Arruda Câmara, mais conhecido por Bica,
						em virtude de uma fonte natural de água potável, que antigamente, abastecia a comunidade do entorno, é oriundo da antiga Mata do Róger. e possui atualmente 26,4
						hectares de área. Foi inaugurado precisamente às 13:00 horas do dia 24 de Dezembro de 1922. Seu
						nome é uma homenagem a memória do ilustre botânico paraibano nascido da cidade paraibana de
						Pombal, Dr. Manoel de Arruda Câmara. Foi tombado pelo Instituto do Patrimônio Histórico e
						Artístico Nacional (IPHAN) em 1941 e em Agosto de 1980 foi tombado pelo Instituto do Patrimônio
						Histórico e Artístico do Estado da Paraíba (IPHAEP). Com o decorrer do tempo, o Parque foi se
						consolidando em estruturas físicas, tomando forma de zoológico e no dia 21 de Setembro de 1999,
						o Parque recebeu do  Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis
						(IBAMA) o registro oficial de Zoológico.</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;João Pessoa é uma cidade com boa infraestrutura para sediar congressos com uma ótima rede
						hoteleira e centros de convenções com capacitação para receber bem o publico participante,
						além de uma vocação turística invejável com lindas praias, bons restaurantes onde se pode
						apreciar a deliciosa culinária regional e pontos de entretenimentos socioculturais onde se pode
						desfrutar do famoso forró pé-de-serra. É a terra de Augusto dos Anjos, José Lins do Rêgo e
						Ariano Suassuna, gênios da literatura mundial e intelectuais da nossa cultura.</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O tema deste congresso será "Zoológico, a arca moderna em um período de extinção”.</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos últimos anos, os zoológicos vem sofrendo ataques por parte de ativistas que desconhecem a
						principal pilastra da qual os bons zoos se alicerçam, ou seja , a conservação, e nesse Congresso
						temos como objetivo despertar e mostrar para todos a importância que os zoos tem para dar
						continuidade a várias espécies que estão ameaçadas de extinção como por exemplo o trabalho
						desenvolvido pelo Parque das Aves com o mutum-de-alagoas (Pauxi mitu), a reprodução dosauim-de-coleira (Saguinus bicolor) pelo
						Zoo Bauru, além dos projetos como o do  lobo-guará (Chrysocyon brachyurus),  arara-azul-de-lear (Anodorhynchus leari), entre outros. Há muito
						tempo, o Parque Zoobotânico Arruda Câmara trabalha no sentido de promover conservação com as
						espécies mantidas em seu plantel. Desde 1995 é referência em reprodução de jacaré-de-papo-amarelo (Caiman latirostris),
						desenvolvendo métodos que facilitaram o manejo reprodutivo dos mesmos, sob cuidados humanos. </p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Além disso, o público do evento terá uma grande oportunidade de se capacitar para continuar
						desenvolvendo trabalhos de conservação com palestras, mini-cursos, avaliação de trabalhos
						científicos, tudo isso com palestrantes de alto nível que vão proporcionar aos participantes
						conhecimentos específicos em áreas multidisciplinares que fazem parte da rotina de zoológicos.
					</p>

					<div class="list-group">
						<a href="#" class="list-group-item disabled">
							A Comissão Organizadora do evento é formada por
						</a>
						<a href="#" class="list-group-item">Presidente : Jair Camilo Negromonte de Azevedo</a>
						<a href="#" class="list-group-item">Vice-presidente : Thiago Ferreira Lopes Nery</a>
						<a href="#" class="list-group-item">Coordenador Financeiro : Paulo Maia</a>
						<a href="#" class="list-group-item disabled">
							Coordenadores técnicos
						</a>
						<a href="#" class="list-group-item">Roberto Citelli de Farias</a>
						<a href="#" class="list-group-item">Helze Melo de Freitas Lins</a>
						<a href="#" class="list-group-item">Fabiana Corrêa Zermiani</a>
						<a href="#" class="list-group-item">Fabiana Alessandra da Silva Leyton</a>
						<a href="#" class="list-group-item">Gustavo Vilar Silva</a>
						<a href="#" class="list-group-item">Glenison Ferreira Dias</a>
					</div>
				</article>


		</section>

{% endblock %}
