{% extends 'base.html.twig' %}

{% block body %}

		<section class="container">

				<header class="page-header">
						<h2>Sobre o Congresso</h2>
				</header>

				<article>
					<p>A SZB – Sociedade de Zoológicos e Aquários do Brasil, tem como missão promover o desenvolvimento integral e o aprimoramento constante dos zoos e aquários do país, buscando seu fortalecimento para que trabalhem dentro dos mais altos padrões éticos e de bem estar animal e colaborem efetivamente com a conservação da biodiversidade.</p>
					<p>No período de 15 a 18 de março de 2016, será realizado no município de João Pessoa, estado da Paraíba, o 40º Congresso da Sociedade de Zoológicos e Aquários do Brasil-SZB.</p>
					<p>O público do evento contará com palestras, mini-cursos, exposição de trabalhos científicos e palestrantes de alto nível que vão proporcionar aos participantes conhecimentos específicos em áreas multidisciplinares que fazem parte da rotina de zoológicos.</p>
				</article>

		</section>

{% endblock %}
