{% extends 'base.html.twig' %}

{% block body %}

	<div id="header-wrapper">
		<div class="container">
			<img src="{{ asset('images/bannerBica.png') }}" alt="">
		</div>
	</div>

	<div id="wrapper">
		<div id="featured" class="container">

		<h2 class="title">SOBRE O CONGRESSO</h2>
		<p>A SZB – Sociedade de Zoológicos e Aquários do Brasil, tem como missão promover o desenvolvimento integral e o aprimoramento constante dos zoos e aquários do país, buscando seu fortalecimento para que trabalhem dentro dos mais altos padrões éticos e de bem estar animal e colaborem efetivamente com a conservação da biodiversidade.</p>
		<p>No período de 15 a 18 de março de 2016, será realizado no município de João Pessoa, estado da Paraíba, o 40º Congresso da Sociedade de Zoológicos e Aquários do Brasil-SZB.</p>
		<p>O público do evento contará com palestras, mini-cursos, exposição de trabalhos científicos e palestrantes de alto nível que vão proporcionar aos participantes conhecimentos específicos em áreas multidisciplinares que fazem parte da rotina de zoológicos.</p>

		</div>
	</div>

{% endblock %}
