{% extends 'base.html.twig' %}

{% block body %}

		<section class="container">

				<header class="page-header">
						<h2>Sobre o Congresso</h2>
				</header>

				<article>
					<p>A SZB – Sociedade de Zoológicos e Aquários do Brasil, tem como missão promover o desenvolvimento integral e o aprimoramento constante dos zoos e aquários do país, buscando seu fortalecimento para que trabalhem dentro dos mais altos padrões éticos e de bem estar animal e colaborem efetivamente com a conservação da biodiversidade.</p>
					<p>No período de 15 a 18 de março de 2016, será realizado no município de João Pessoa, estado da Paraíba, o 40º Congresso da Sociedade de Zoológicos e Aquários do Brasil-SZB.</p>
					<p>O público do evento contará com palestras, mini-cursos, exposição de trabalhos científicos e palestrantes de alto nível que vão proporcionar aos participantes conhecimentos específicos em áreas multidisciplinares que fazem parte da rotina de zoológicos.</p>

					<div class="list-group">
						<a href="#" class="list-group-item disabled">
							A Comissão Organizadora do evento é formada por
						</a>
						<a href="#" class="list-group-item">Presidente : Jair Camilo Negromonte de Azevedo</a>
						<a href="#" class="list-group-item">Vice-presidente : Thiago Ferreira Lopes Nery</a>
						<a href="#" class="list-group-item">Coordenador Financeiro : Paulo Maia</a>
						<a href="#" class="list-group-item disabled">
							Coordenadores técnicos
						</a>
						<a href="#" class="list-group-item">Roberto Citelli de Farias</a>
						<a href="#" class="list-group-item">Helze Melo de Freitas Lins</a>
						<a href="#" class="list-group-item">Fabiana Corrêa Zermiani</a>
						<a href="#" class="list-group-item">Fabiana Alessandra da Silva Leyton</a>
						<a href="#" class="list-group-item">Gustavo Vilar Silva</a>
						<a href="#" class="list-group-item">Glenison Ferreira Dias</a>
					</div>
				</article>


		</section>

{% endblock %}
