{% extends 'base.html.twig' %}

{% block body %}

	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
			</div>
			<div id="menu">
				<ul>
					<li class="first active"><a href="/" accesskey="1" title="">Homepage</a></li>
					<li><a href="/sobre" accesskey="2" title="">Sobre o Congresso</a></li>
					<li><a href="/local" accesskey="3" title="">Local</a></li>
					<li><a href="#" accesskey="4" title="">Incrições</a></li>
					<li><a href="#" accesskey="5" title="">Cronograma do Evento</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<div id="featured" class="container">
			<h2 class="title">SOBRE O CONGRESSO</h2>
		<p>A SZB – Sociedade de Zoológicos e Aquários do Brasil, tem como missão promover o desenvolvimento integral e o aprimoramento constante dos zoos e aquários do país, buscando seu fortalecimento para que trabalhem dentro dos mais altos padrões éticos e de bem estar animal e colaborem efetivamente com a conservação da biodiversidade.</p>
		<p>No período de 15 a 18 de março de 2016, será realizado no município de João Pessoa, estado da Paraíba, o 40º Congresso da Sociedade de Zoológicos e Aquários do Brasil-SZB.</p>
		<p>O público do evento contará com palestras, mini-cursos, exposição de trabalhos científicos e palestrantes de alto nível que vão proporcionar aos participantes conhecimentos específicos em áreas multidisciplinares que fazem parte da rotina de zoológicos.</p>

		</div>
	</div>

{% endblock %}
