{% extends 'base.html.twig' %}

{% block body %}

	<section class="container" xmlns:text-align="http://www.w3.org/1999/xhtml">

		<header class="page-header">
			<h2>Submissão dos Resumos</h2>
		</header>

		<div class="panel panel-default"align="left">
			<div class="list-group">
				<a href="#" class="list-group-item disabled">
					INSTRUÇÃO PARA SUBMISSÃO DE RESUMOS
				</a>
				<ul class="list-group">
					<li class="list-group-item">Documento em Word, letra Times New Roman, tamanho 11, espaçamento simples, margens: superior e inferior – 2,5cm / esquerda e direita – 3cm (vide MODELO abaixo);</li>
					<li class="list-group-item">Título do trabalho apresentado;</li>
					<li class="list-group-item">Nome do Autor e Coautores (em numero de no máximo 7);</li>
					<li class="list-group-item">Nome do cargo ou função e da instituição de cada um dos participantes;</li>
					<li class="list-group-item">Introdução: Deve ser concisa abordando somente o necessário para entendimento dos materiais e métodos; </li>
					<li class="list-group-item">Materiais e Métodos: Deve descrever bem a metodologia, porém não se faz necessário descrever metodologias muito usuais, exemplo: Como fazer um hemograma ou coloração histológica; </li>
					<li class="list-group-item">Resultados e Discussão: Pode ser apresentado em texto e tabela. Conclusão;</li>
					<li class="list-group-item">Referências: A citação no texto deve ser através de feita de forma ordinal com os números entre parênteses. Exemplo: O enriquecimento deve favorecer o bem estar (1)</li>
					<li class="list-group-item">Deve-se seguir as normas da NBR 6023;</li>
					<li class="list-group-item">O resumo não deve ultrapassar uma página, contado com todos seus elementos;</li>
					<li class="list-group-item">Cada inscrição permitirá o envio de três (03) resumos como primeiro autor. Não há limite de coautorias em resumos que sejam inscritos sob o nome de outros autores; </li>
					<li class="list-group-item">A inscrição do resumo somente será homologada mediante o pagamento da taxa de inscrição;</li>
					<li class="list-group-item">Uma vez aceito, o resumo representa um compromisso definido do(s) autor (es) em apresentar o trabalho durante o Congresso; </li>
					<li class="list-group-item">Serão escolhidos os dois melhores trabalhos para apresentação oral e que receberá como prêmio a isenção da taxa de inscrição do próximo congresso.</li>
					<li class="list-group-item">Prazo de submissão ate o dia 31 de Janeiro de 2016.</li>
					<li class="list-group-item">OBS : Deve-se seguir o modelo de trabalho abaixo e enviar para o e-mail: 40congressoszb@gmail.com</li>
                    <li class="list-group-item"><a href="exemplo2">Clique aqui e veja exemplo de trabalho</a></li>
				</ul>


			</div>
		</div>

	</section>

{% endblock %}
