<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="jquery.slidertron-1.1.js"></script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
		</div>
		<div id="menu">
			<ul>
				<li class="first active"><a href="index" accesskey="1" title="">Homepage</a></li>
				<li><a href="/sobre" accesskey="2" title="">Sobre o Congresso</a></li>
				<li><a href="#" accesskey="3" title="">Local</a></li>
				<li><a href="#" accesskey="4" title="">Incrições</a></li>
				<li><a href="#" accesskey="5" title="">Cronograma do Evento</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="wrapper">
	<div id="featured" class="container">

	<h2 class="title">SOBRE O CONGRESSO</h2>
	<p>A SZB – Sociedade de Zoológicos e Aquários do Brasil, tem como missão promover o desenvolvimento integral e o aprimoramento constante dos zoos e aquários do país, buscando seu fortalecimento para que trabalhem dentro dos mais altos padrões éticos e de bem estar animal e colaborem efetivamente com a conservação da biodiversidade.</p>
	<p>No período de 15 a 18 de março de 2016, será realizado no município de João Pessoa, estado da Paraíba, o 40º Congresso da Sociedade de Zoológicos e Aquários do Brasil-SZB.</p>
	<p>O público do evento contará com palestras, mini-cursos, exposição de trabalhos científicos e palestrantes de alto nível que vão proporcionar aos participantes conhecimentos específicos em áreas multidisciplinares que fazem parte da rotina de zoológicos.</p>

	</div>
</div>

<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
</body>
</html>
