.container {
  max-width: 980px;
}

.navbar {
  background: #960;
  padding: 10px 0;
  text-transform: uppercase;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.navbar-nav a {
  color: #cca !important;
}
.navbar-nav a:hover {
  background: #850 !important;
  color: #fff !important;
}

#footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding: 20px 0;
}
