.container {
  max-width: 980px;
}

.navbar {
  background: #fff;
  padding: 10px 0;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
}

#footer {
  border-top: 1px solid #eee;
  padding: 20px 0;
}
